body {
    background: url("../img/bg.jpg") 100% 100%;
}

header {
    width: 100%;
    border-bottom: 4px solid #003e8e;
}

header .container {
    display: flex;
    justify-content: space-between;
}

header .container .header-left {
    align-items: center;
    display: flex;
    height: 75px;
}

header .container .header-left p {
    font-size: 15pt;
    font-family: "OpenSans-SemiBold";
    margin-left: 15px;
    color: #003e8e;
    margin-top: 10px;
}

header .container .header-left img {
    width: 50px;
    height: 50px;
}

header .container .header-right {
    display: none;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 95px;
}

header .container .header-right a {
    display: flex;
    align-items: center;
}

header .container .header-right a img {
    box-shadow: 0.5px 0.5px 0.5px 0.5px #003e8e;
    width: 30px;
    height: 20px;
}

.main {
    margin-top: 70px;
    line-height: 55px;
    text-align: center;
    background-color: white;
    border: 2px solid #003e8e;
}

.main .zebo {
    padding-top: 25px;
    font-family: "Ubuntu-Regular";
    color: #020061;
    font-size: 50pt;
}

.main .professor {
    font-family: "Ubuntu-Light";
    color: #020061;
    font-size: 22pt;
}

.main .navigation {
    font-family: "Ubuntu-Light";
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    line-height: 15px;
}

.main .navigation a {
    color: #020075;
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.main .nav-small {
    display: none;
}

.main .slider {
    margin: 25px auto;
    width: 1000px;
    height: 500px;
}

.main .slider .sliders {
    border: 6px solid #000d33;
    width: 1000px;
    height: 500px;
}

.main .slider .sliders .content {
    background-color: rgba(0, 11, 22, 0.75);
    padding-top: 75px;
    width: 350px;
    float: right;
    height: 488px;
}

.main .slider .sliders .content .text {
    text-align: left;
    padding-left: 25px;
}

.main .slider .sliders .content .text .arrow {
    width: 25px;
    height: 25px;
    color: white;
}

.main .slider .sliders .content .text .text-h1 {
    line-height: 30px;
    font-size: 25pt;
    font-family: "Ubuntu-Regular";
    color: #eeeeee;
}

.main .slider .sliders .content .text .text-h2 {
    margin-top: 30px;
    font-size: 15pt;
    color: #eeeeee;
    line-height: 25px;
}

.main .slider .sliders .content .text .description {
    font-size: 15pt;
    color: #eeeeee;
    outline: none;
}

.main .slider .sliders .content .text .description .fa-chevron-right {
    margin-top: 200px;
    font-size: 12pt;
}

.main .slider .slider-1 {
    display: block;
    background: url("../img/bz.jpg") no-repeat;
}

.main .slider .slider-2 {
    display: block;
    background: url("../img/research.jpg") no-repeat;
}

.main .slider .slider-3 {
    display: block;
    background: url("../img/edu.jpg") no-repeat;
}

.main .slider .slider-4 {
    display: block;
    background: url("../img/inter.jpg") no-repeat;
}

.main .slider .slider-5 {
    background: url("../img/gallery.JPG") no-repeat;
    display: block;
}

.main .slider .slider-6 {
    background: url("../img/contacts.jpg") no-repeat;
    display: block;
}

@media screen and (max-width: 770px) and (min-width: 575px) {
    .main .navigation {
        display: none;
    }
    .main .slider {
        height: 250px;
    }
    .main .slider .sliders {
        height: 250px;
    }
    .main .slider .sliders .content {
        float: none;
        background-color: transparent;
        margin: auto;
        width: 250px;
        height: 150px;
    }
    .main .slider .sliders .content .text {
        height: 75px;
        width: 250px;
        position: relative;
        text-align: center;
        margin-top: -81px;
        background-color: transparent;
        border: 4px solid #eeeeee;
        border-top: none;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        padding: 20px 0 10px 0;
    }
    .main .slider .sliders .content .text .text-h1 {
        color: #eeeeee;
        font-size: 150%;
    }
    .main .slider .sliders .content .text .text-h2 {
        display: none;
    }
    .main .slider .sliders .content .text .description {
        width: 150px;
        line-height: 10px;
        position: absolute;
        font-size: 11pt;
        margin-left: 35%;
    }
    .main .slider .sliders .content .text .description .fa-chevron-right {
        font-size: 11pt;
        margin-top: 100%;
    }
    .main .slider .slider-1 {
        background-size: 100%;
    }
    .main .slider .slider-2 {
        background-size: 100%;
    }
    .main .slider .slider-3 {
        background-size: 100%;
    }
    .main .slider .slider-4 {
        background-size: 100%;
    }
    .main .slider .slider-4 .content .text {
        width: 275px;
    }
    .main .slider .slider-4 .content .text .text-h1 {
        font-size: 125%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .main .slider .slider-5 {
        background-size: 100%;
    }
    .main .slider .slider-6 {
        background-size: 100%;
    }
}

@media screen and (max-width: 992px) and (min-width: 770px) {
    .main .slider .sliders .content {
        width: 35%;
    }
    .main .slider .sliders .content .text {
        padding-right: 20px;
    }
    .main .slider .sliders .content .text .text-h1 {
        font-size: 150%;
    }
    .main .slider .sliders .content .text .text-h2 {
        font-size: 10pt;
    }
    .main .slider .sliders .content .text .description {
        font-size: 10pt;
    }
}

@media screen and (max-width: 1200px) {
    .main .slider {
        width: 100%;
    }
}

@media screen and (max-width: 575px) {
    header .header-left {
        padding-bottom: 20px;
        margin-top: 20px;
    }
    .main .zebo {
        font-size: 25pt;
    }
    .main .professor {
        font-size: 16pt;
        line-height: 20px;
    }
    .main .navigation {
        display: none;
    }
    .main .slider {
        display: none;
    }
    .main .nav-small {
        display: flex;
        flex-direction: column;
        line-height: 40px;
    }
    .main .nav-small a button {
        outline: none;
        width: 70%;
        background-color: transparent;
        border: 2px solid #003e8e;
        font-family: "OpenSans-Regular";
        color: #000d33;
    }
}

@font-face {
    font-family: "OpenSans-Light";
    src: url("../fonts/OpenSans-Light.ttf");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url("../fonts/OpenSans-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans-SemiBold";
    src: url("../fonts/OpenSans-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url("../fonts/OpenSans-Bold.ttf");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu-Light";
    src: url("../fonts/Ubuntu-Light.ttf");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu-Regular";
    src: url("../fonts/Ubuntu-Regular.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu-Medium";
    src: url("../fonts/Ubuntu-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu-Bold";
    src: url("../fonts/Ubuntu-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}


/*# sourceMappingURL=style.css.map */